torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

gradio==6.0.2
celery==5.4.0
redis==5.0.8
pillow==10.4.0
pytesseract==0.3.13
numpy==1.26.4
pandas==2.2.2
tqdm==4.66.5
matplotlib==3.9.2
seaborn==0.13.2
scikit-image==0.23.2
Levenshtein==0.25.1

basicsr @ git+https://github.com/xinntao/BasicSR.git@8d56e3a045f9fb3e1d8872f92ee4a4f07f886b0a
einops==0.8.1
pyyaml==6.0.1
opencv-python==4.9.0.80
lmdb==1.5.1
huggingface_hub==0.25.2
