# Основные зависимости для ноутбуков и базового проекта (GPU обязателен)
numpy<2.0
opencv-python>=4.10.0
pillow>=10.0,<12.0
matplotlib>=3.9
scipy>=1.14
scikit-learn>=1.5
scikit-image>=0.24
tqdm>=4.66
pyyaml>=6.0
einops>=0.8
huggingface_hub>=0.25
lmdb>=1.5
seaborn>=0.13
torchmetrics>=1.4
pytesseract>=0.3.13
typer>=0.12
gdown>=5.2.0
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

# BasicSR для Real-ESRGAN/Restormer
basicsr @ git+https://github.com/xinntao/BasicSR.git@8d56e3a045f9fb3e1d8872f92ee4a4f07f886b0a

# Для запуска сервера и скачивания весов

celery==5.4.0
redis==5.1.1
gradio==6.0.2
gdown==5.2.0
