# Основные зависимости для ноутбуков и базового проекта (GPU обязателен)
einops==0.8.1
fastapi==0.124.0
fsspec==2025.9.0
future==1.0.0
huggingface_hub==1.2.1
lmdb==1.7.5
matplotlib==3.10.7
numpy==2.2.6
opencv-python==4.12.0.88
pillow==11.3.0
pytesseract==0.3.13
pyyaml==6.0.3
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchmetrics==1.8.2
torchvision==0.22.1+cu118
tqdm==4.67.1
typer==0.20.0
uvicorn==0.38.0

# BasicSR для Restormer
basicsr @ git+https://github.com/xinntao/BasicSR.git@8d56e3a045f9fb3e1d8872f92ee4a4f07f886b0a

# Для запуска сервера и скачивания весов

celery==5.6.0
redis==7.1.0
gradio==6.0.2
gdown==5.2.0
